.attribution { font-size: 11px; text-align: center; }
.attribution a { color: #2d75bb; }

body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Inter", sans-serif;
}

.card {
    width: 300px;
    height: fit-content;
    background-color: hsl(0, 0%, 12%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 1rem;
    border-radius: 0.5rem;
}

.image {
    height: 100px;
    border-radius: 100%;
}

.name {
    color: hsl(0, 0%, 100%);
    font-size: x-large;
    font-weight: 500;
    margin: 0.5rem 0 0.25rem 0;
}

.address {
    color: hsl(75, 94%, 57%);
    font-size: small;
    font-weight: 500;
    margin: 0 0 0.5rem 0;
}

.desc {
    color: hsl(0, 0%, 100%);
    font-size: small;
    font-weight: 200;
    margin: 1rem 0 1rem 0;
}

.social{
    height: 40px;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: .25rem;
    border: none;
    background-color: hsl(0, 0%, 20%);
    color: hsl(0, 0%, 100%);
    border-radius: 5px;
    font-weight: 600;
    font-size: small;
}

.social:hover {
    background-color: hsl(75, 94%, 57%);
    color: hsl(0, 0%, 12%);
}
